@{
    ViewBag.Title = "Index";
}
@model NoteTaLoc.Models.SaisiNoteForm

<h2>Index</h2>

<h2>SaisiNoteView</h2>
@for (int i=0; i < ViewBag.NumTimes; i++) { 
      @ViewBag.Message 
} 

@using (Html.BeginForm()) {
 @Html.ValidationSummary(true)    
<table style="text-align:center; vertical-align:middle">
    <tbody>
        <tr>
            <td style="text-align:right">Numéro :</td>
            <td>
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </td>
        </tr>
        <tr>
            <td style="text-align:right">Rue : *</td>
            <td> @Html.EditorFor(model => model.Rue)
                @Html.ValidationMessageFor(model => model.Rue)</td>
        </tr>
        <tr>
            <td style="text-align:right">Appartement : </td>
            <td>@Html.EditorFor(model => model.Appartement)
                @Html.ValidationMessageFor(model => model.Appartement)</td>
        </tr>
        <tr>
            <td style="text-align:right">Localité : </td>
            <td>@Html.EditorFor(model => model.Localite)
                @Html.ValidationMessageFor(model => model.Localite)</td>
        </tr>
        <tr>
            <td style="text-align:right">Code Postal : *</td>
            <td> @Html.EditorFor(model => model.CodePostal)
                @Html.ValidationMessageFor(model => model.CodePostal)

            </td>
        </tr>
        <tr>
            <td style="text-align:right">Région / Province / État : </td>
            <td>@Html.EditorFor(model => model.Region)
                @Html.ValidationMessageFor(model => model.Region)</td>
        </tr>
        <tr>
            <td style="text-align:right">Pays : </td>
            <td>
                @Html.EditorFor(model => model.Pays)
            </td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td style="text-align:right">Note : </td>
            <td>
                 @Html.RadioButtonFor(model => model.Note, 0) 0 <br />
                 @Html.RadioButtonFor(model => model.Note, 1) 1 <br />
                 @Html.RadioButtonFor(model => model.Note, 2) 2 <br />
                 @Html.RadioButtonFor(model => model.Note, 3) 3 <br />
                 @Html.RadioButtonFor(model => model.Note, 4) 4 <br />
                 @Html.RadioButtonFor(model => model.Note, 5) 5 <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Noter" />
            </td>
        </tr>
    </tbody>
</table>
}