@using MyResources = ViewResShared.LayoutResource;

@{
    ViewBag.Title = MyResources.Title;
    ViewBag.Greeting = MyResources.Greeting;
}

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>@ViewBag.Title</title>

        <!-- Le styles -->
        <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="~/Content/site.css" rel="stylesheet">

        <script type="text/javascript"src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>


    </head>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12"></div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <div class="container">

                                <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>

                                <!-- Be sure to leave the brand out there if you want it shown -->
                                <a class="brand" href="/"><img src="/Images/LOGO_loQUALsmall.png"/></a>

                                <!-- Everything you want hidden at 940px or less, place within here -->
                                <div class="nav-collapse collapse">                                    
                                    <!-- .nav, .navbar-search, .navbar-form, etc -->
                                    <ul class="nav pull-right ul_menu_bar">
                                        @if (HttpContext.Current.Session["UserSessionObject"] != null)
                                        {
                                            NoteTaLoc.Models.UserTable usertable = (NoteTaLoc.Models.UserTable)HttpContext.Current.Session["UserSessionObject"];
                                            <li class="btn-white">@ViewBag.Greeting, @usertable.Nom @usertable.Prenom !</li>
                                        }
                                        
                                        <li class="btn-note">@Html.ActionLink(MyResources.Mark, "Index", "SaisiNote", new { area = "" }, null)</li>
                                        <li class="btn-recherche">@Html.ActionLink(MyResources.Search, "SearchNoted", "AdresseTable", new { area = "" }, null)</li>
                                        @Html.Partial("_LoginPartial")
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()

            @*   @Scripts.Render("~/bundles/jquery")  *@
            @RenderSection("scripts", required: false)
        </div>
        <!-- UserVoice JavaScript SDK (only needed once on a page) -->
        <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/PzdETXO7oF2HpTCQSNOjQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

        <!-- A tab to launch the Classic Widget -->
        <script>
        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
          mode: 'full',
          primary_color: '#a6ce39',
          link_color: '#00afef',
          default_mode: 'feedback',
          forum_id: 209132,
          tab_label: 'Commentaires et support',
          tab_color: '#a6ce39',
          tab_position: 'middle-right',
          tab_inverted: false
        }]);
        </script>
    </body>
</html>
