@using MyResources = ViewRes.LoginResource;
@model NoteTaLoc.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

@{
    ViewBag.Title = MyResources.titre;
    ViewBag.subtitle = MyResources.creation;
    
    ViewBag.userName = MyResources.username;
    ViewBag.password = MyResources.password;
    ViewBag.LogInform = MyResources.loginForm;
    ViewBag.LogIn = MyResources.logIn;
    ViewBag.Register = MyResources.register;
    ViewBag.IfDontHave = MyResources.doNotHaveAccount;
        
}
<section class="content-wrapper main-content clear-fix">
    <div class="row-fluid">
        <div class="span6 offset3 background_div">
            <div class="row-fluid">
                <div class="span12">
                    <div class="content-wrapper">
                        <hgroup class="title">
                            <h3>@ViewBag.Title - @ViewBag.subtitle</h3>
                        </hgroup>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
               <div class="row-fluid">
                    <div class="span12">
                        @ViewBag.LogInform
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        @ViewBag.userName
                    </div>
                    <div class="span8">
                        @Html.TextBoxFor(m => m.UserName)
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4">
                        @ViewBag.password
                    </div>
                    <div class="span8">
                        @Html.PasswordFor(m => m.Password)
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <input type="submit" value='@ViewBag.LogIn' class="btn btn-large btn-block btn-primary vertical-align"/>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12"><br />
                        <p>
                            @Html.ActionLink(MyResources.register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) @ViewBag.IfDontHave
		                </p>
                    </div>
                </div>                            
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
