@using MyResources = NoteTaLoc.Views.Account.LoginResource;
@model NoteTaLoc.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

@{
    ViewBag.Title = MyResources.titre;
    ViewBag.subtitle = MyResources.creation;
    
    ViewBag.userName = MyResources.username;
    ViewBag.password = MyResources.password;
    ViewBag.LogInform = MyResources.loginForm;
    ViewBag.LogIn = MyResources.logIn;
    ViewBag.Register = MyResources.register;
    ViewBag.IfDontHave = MyResources.doNotHaveAccount;
        
}

<div id="body" style="background: rgba(255, 255, 255, 0.73); border-radius: 8px 8px 8px 8px; padding: 10px 10px; width: 70%; height: auto; min-height: auto; margin:auto;>
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title: @ViewBag.subtitle</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div class="content-wrapper">

            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <fieldset>
                    <legend>@ViewBag.LogInform</legend>
                    <ol>
                        <li>
                            @ViewBag.userName
                            @Html.TextBoxFor(m => m.UserName)
                        </li>
                        <li>
                            @ViewBag.password
                            @Html.PasswordFor(m => m.Password)
                        </li>
                    </ol>
                    <input type="submit" value='@ViewBag.LogIn' />
                </fieldset>
	    <p>
        @Html.ActionLink(MyResources.register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) @ViewBag.IfDontHave
		</p>
            } 
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
