@using MyResources = NoteTaLoc.Views.Account.RegisterAccountResource;
@model NoteTaLoc.Models.RegisterModel

@using Recaptcha;

@{
    ViewBag.Title = MyResources.titre;
    ViewBag.subtitle = MyResources.creation;
    ViewBag.requiredFields = MyResources.requiredFields;
    
    ViewBag.lastName = MyResources.lastName;
    ViewBag.firstName = MyResources.firstName;
    ViewBag.userName = MyResources.username;
    ViewBag.email = MyResources.email;
    ViewBag.password = MyResources.password;
    ViewBag.confirmPassword = MyResources.confirmPassword;
    ViewBag.termsOfService = MyResources.termsOfService;
    ViewBag.termsOfServiceDetails = MyResources.termsOfServiceDetails;
    ViewBag.agreeTermsAndConditions = MyResources.agreeTermsAndConditions;
    ViewBag.Yes = MyResources.Yes;
    ViewBag.No = MyResources.No;
    ViewBag.Register = MyResources.Register;
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>

                <h2>@ViewBag.subtitle</h2>

            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <div class="content-wrapper">
            <hgroup class="title">
            </hgroup>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div>
                    <p style="color:red"><b>@ViewBag.requiredFields</b></p>
                    <table>
                        <tr>
                            <td>
                           @ViewBag.lastName
                            <td>
                           @Html.TextBoxFor(m => m.UserLName)
                            <td>
                           @ViewBag.firstName
                            </td>
                           <td>
                           @Html.TextBoxFor(m => m.UserFName)
                            </td>
                        </tr>
                        <tr>
                            <td>
                           @ViewBag.userName
                            </td>
                           <td>
                           @Html.TextBoxFor(m => m.UserName)
                            </td>
                            <td>
                           @ViewBag.email
                            </td>
                           <td>
                           @Html.TextBoxFor(m => m.EmailAddress)
                            </td>
                       </tr>
                        <tr>
                            <td>
                           @ViewBag.password
                            </td>
                           <td>
                           @Html.PasswordFor(m => m.Password)
                            </td>
                            <td>
                           @ViewBag.confirmPassword
                            </td>
                           <td>
                           @Html.PasswordFor(m => m.ConfirmPassword)
                            </td>
                       </tr>
                        <tr>
                            <td colspan="4">
                                <b>@ViewBag.termsOfService</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <p style="text-align:justify">
                                @ViewBag.termsOfServiceDetails
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="text-align:justify">
                                <b>@ViewBag.agreeTermsAndConditions</b>
                                </p>
                            </td>
                            <td>@ViewBag.Yes&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor( model => model.TermAndConditions, true, new {@class="customradiobutton"} )
                            </td>
                            <td>@ViewBag.No&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor( model => model.TermAndConditions, false, new {@class="customradiobutton"} )
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td>@Html.Raw(Html.GenerateCaptcha())</td>
                            <td>@Html.ValidationMessage("recaptcha")</td>
                        </tr>
                    </table>
                    <input type="submit" value='@ViewBag.Register' />
                </div>
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
