@using MyResources = ViewRes.RegisterAccountResource;
@model NoteTaLoc.Models.RegisterModel

@using Recaptcha;

@{
    ViewBag.Title = MyResources.titre;
    ViewBag.subtitle = MyResources.creation;
    ViewBag.requiredFields = MyResources.requiredFields;
    
    ViewBag.lastName = MyResources.lastName;
    ViewBag.firstName = MyResources.firstName;
    ViewBag.userName = MyResources.username;
    ViewBag.email = MyResources.email;
    ViewBag.password = MyResources.password;
    ViewBag.confirmPassword = MyResources.confirmPassword;
    ViewBag.termsOfService = MyResources.termsOfService;
    ViewBag.termsOfServiceDetails = MyResources.termsOfServiceDetails;
    ViewBag.agreeTermsAndConditions = MyResources.agreeTermsAndConditions;
    ViewBag.Yes = MyResources.Yes;
    ViewBag.No = MyResources.No;
    ViewBag.Register = MyResources.Register;
}
<div class="row-fluid">
    <div class="span8 offset2 background_div">
        <div class="row-fluid">
            <div class="span8">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h3>@ViewBag.Title - @ViewBag.subtitle</h3>
                    </hgroup>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <p class="red"><b>@ViewBag.requiredFields</b></p>
            </div>
        </div>
       
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="row-fluid">
                    <div class="span2">
                        @ViewBag.lastName
                    </div>
                    <div class="span4">
                        @Html.TextBoxFor(m => m.UserLName)
                    </div>
                    <div class="span2">
                        @ViewBag.firstName
                    </div>
                    <div class="span4">
                        @Html.TextBoxFor(m => m.UserFName)
                    </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    @ViewBag.userName
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.UserName)
                </div>
                <div class="span2">
                    @ViewBag.email
                </div>
                <div class="span4">
                    @Html.TextBoxFor(m => m.EmailAddress)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    @ViewBag.password
                </div>
                <div class="span4">
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div class="span2">
                    @ViewBag.confirmPassword
                </div>
                <div class="span4">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <b>@ViewBag.termsOfService</b>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 text_justified">
                    @ViewBag.termsOfServiceDetails <br /><br />
                </div>
            </div>            
            <div class="row-fluid">
                <div class="span6">
                    <b>@ViewBag.agreeTermsAndConditions</b>
                </div>
                <div class="span3">
                    @ViewBag.Yes&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor( model => model.TermAndConditions, true, new {@class="customradiobutton"} )
                </div>
                <div class="span3">
                    @ViewBag.No&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor( model => model.TermAndConditions, false, new {@class="customradiobutton"} )
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    @Html.Raw(Html.GenerateCaptcha())
                </div>
                <div class="span6">
                    <input type="submit" value='@ViewBag.Register' class="btn btn-large btn-block btn-primary vertical-align"/>
                </div>
            </div>                                         
        }

    </div>
</div> 