@using MyResources = ViewResLocataireTable.CreateResource;
@model NoteTaLoc.Models.LocataireTable

@{
    ViewBag.Title = "Create";
    ViewBag.LocataireID = MyResources.LocataireID;
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LocataireTable</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocataireId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocataireId)
            @Html.ValidationMessageFor(model => model.LocataireId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "UserTable")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdresseId, "AdresseTable")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AdresseId", String.Empty)
            @Html.ValidationMessageFor(model => model.AdresseId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreuveDeDomicile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreuveDeDomicile)
            @Html.ValidationMessageFor(model => model.PreuveDeDomicile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PreuveType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PreuveType)
            @Html.ValidationMessageFor(model => model.PreuveType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
