@model NoteTaLoc.Models.LocataireTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LocataireTable</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocataireId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocataireId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserTable.Nom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserTable.Nom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdresseTable.AptNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdresseTable.AptNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreuveDeDomicile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreuveDeDomicile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PreuveType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PreuveType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
