@model IEnumerable<NoteTaLoc.Models.LocataireTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocataireId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresseTable.AptNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreuveDeDomicile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreuveType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocataireId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresseTable.AptNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreuveDeDomicile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreuveType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
