@model IEnumerable<NoteTaLoc.Models.AdresseTable>

@{
    Layout = null;
 }

<script type="text/javascript" src="../../Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

    var carte;
    var arrlong  = [];
    var arrlatt  = [];
    //var arrPoint = [];
    // var arrPoint = new Array();
    // arrPoint[0]=new Array(2);

    $(document).ready(function () {
        initialiser();
        //var carte = new google.maps.Map(document.getElementById("map_canvas"));

        $(".note").click(function () {
            var point = fctPoint($(this).find("#item_Lattitude").val(), $(this).find("#item_Longitude").val());

            carte.panTo(point); //'=== deplacement smooth

        });

    });

    var initialiser = function () {

        var options = {
            center:  new google.maps.LatLng(18.23, -66.39),
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        carte = new google.maps.Map(document.getElementById("map_canvas"), options);

        for (i = 0; i < arrlong.length; i++) {
            fctSetMarqueur(arrlatt[i], arrlong[i]);

            if (i == 0) {

                carte.panTo(fctPoint(arrlatt[i], arrlong[i]));
            }
        }
    }

    var fctSetMarqueur = function (plngLat, plngLgt) {
        //var lngLgt = parseFloat(plngLgt.replace(',', '.').replace(' ', ''));
        //var lngLat = parseFloat(plngLat.replace(',', '.').replace(' ', ''));
        //var point = new google.maps.LatLng(lngLat, lngLgt);
        var point = fctPoint(plngLat, plngLgt)

        //alert(plngLat);

        var marqueur = new google.maps.Marker({
            position: point,
            map: carte });

        var infowindow = new google.maps.InfoWindow();

        google.maps.event.addListener(marqueur, 'click', function() {
            //infowindow.setContent('test');
            //infowindow.open(carte, marqueur);
            window.open('', '_blank');
        });
    }

    var fctPoint = function (plngLat, plngLgt) {
        var lngLgt = parseFloat(plngLgt.replace(',', '.').replace(' ', ''));
        var lngLat = parseFloat(plngLat.replace(',', '.').replace(' ', ''));
        var point = new google.maps.LatLng(lngLat, lngLgt);
        return point;
    }


</script>


<style>

.map_canvas
{
    width: 60%; 
    height: 400px;
    float: left;
    margin-right: 10px;
}

.search_result
{
    width: 20%; 
    height: 400px;
    float: right;
    margin-left: 2px;
}
.note
{
 border: 1px solid gray;
}

</style>

<h2>SearchNoted</h2>
<br />

@using (Html.BeginForm("SearchNoted", "AdresseTable"))
{
    <div style="text-align : center">
    @Html.TextBox("searchString")
@*    <input type="button" id="btnSearch" value="Rechercher" onclick="location.href = '@Url.Action("SearchNoted", "AdresseTable")'"/>*@ 
    <input type="submit" id="btnSearch" />
   </div>
    <br />
    <div id="map_canvas"  class="map_canvas"></div>
    
    
    <div id="seach_result"  class="seach_result">

    <fieldset class="seach_result">
    <legend>&nbsp;&nbsp;Résultats&nbsp;&nbsp;</legend>    
    @{
    int counter = 0;
}
    @foreach (var item in Model)
    {
        
        <div class="note" id="note_@counter">
        Adresse : @Html.DisplayFor(model => item.AdresseLine)<br />
        Note : @Html.DisplayFor(model => item.AvgNote)&nbsp;             

@*        @Html.DisplayFor(model => item.RueNo)&nbsp;
        @Html.DisplayFor(model => item.Rue)
        
        @(string.IsNullOrEmpty(item.AptNo) ? "" : "App." + Html.DisplayFor(model => item.AptNo) + ",");        
        
        @Html.DisplayFor(model => item.Ville),
        @Html.DisplayFor(model => item.Province),
        @Html.DisplayFor(model => item.Pays)<br />*@

       @Html.HiddenFor(model => item.Longitude)<br />
       @Html.HiddenFor(model => item.Lattitude)<br />

       <script>

           arrlong[@(counter)] = '@item.Longitude';
           arrlatt[@(counter)] = '@item.Lattitude';
                   
       </script>
       
       </div>
        <br />
        
        counter++;
    }
 </fieldset>
    </div>  
}